@font-face {   /*RotondaC*/
  font-family: 'RotondaC';
  src: url('../fonts/RotondaC/RotondaC.svg#RotondaC') format('svg'),
       url('../fonts/RotondaC/RotondaC.ttf') format('truetype'),
       url('../fonts/RotondaC/RotondaC.woff')  format('woff');
}
@font-face { /*RotondaBold*/
  font-family: 'RotondaBold';
  src: url('../fonts/RotondaBold/RotondaBold.svg#RotondaBold') format('svg'),
       url('../fonts/RotondaBold/RotondaBold.ttf') format('truetype'),
       url('../fonts/RotondaBold/RotondaBold.woff')  format('woff');
}
@font-face {   /* Trebuchet */
  font-family: 'Trebuchet';
  src: url("../fonts/Trebuchet/Trebuchet.svg#Trebuchet") format("svg"),
       url("../fonts/Trebuchet/Trebuchet.ttf") format('truetype'),
       url('../fonts/Trebuchet/Trebuchet.woff')  format('woff');
}

.container {
  max-width: 1100px;
}

body {
  background-color: #cceeff;
  -webkit-overflow-scrolling: touch;
	font-family: Trebuchet;
}
header {
  background: url("../img/background-head.png") repeat;
  height: 237px;
  margin-bottom: 100px;
}
section .main {
  padding: 0;
  margin: 0;
}


/*=============================== index.html=================================================*/
.columnsn {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 210px;
  /* padding: 10px; */
}
.columnsn_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
}
.site_search {
  position: relative;
}
.site_search_inpt {
  width: 100%;
  height: 35px;
  border-radius: 100px;
  background-color: #f4f4f4;
}
.search_btn button {
  padding: 0;
  font-size: 12px;
  background-color: #efefef;
  border-radius: 100%;
  position: absolute;
  z-index: 99;
  right: 4px;
  top: 3px;
  border: solid 1px #d8d8d8;
}
.search_btn i {
  padding: 8px;
}
.bt{
  background-color: #eff5f8;
  width: 110px;
  height: 25px;
  text-align: center;
  border-radius: 10px;
  margin: 12px 0 21px;
}
.bt a {
  color: #17577a;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}
.bt a:hover {
  font-size: 14px;
  color: #17577a;
}
.bt i {
  margin-right: 10px;
}
.head_text {
  padding: 0;
  text-align: center;
}
.p1 {
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
  color: #005177;
  font-family: "RotondaC";
  font-size: 22px;
  font-weight: 400;
  line-height: 20.72px;
}
.p2 {
  text-shadow: 0 0 0 rgba(255, 255, 255, 0.75);
  color: #005177;
  font-family: "RotondaC";
  font-size: 18px;
  font-weight: 400;
  line-height: 18.58px;
}
.pp {
  color: #2d5d7e;
  font-family: "RotondaBold";
  font-size: 26px;
}
.head_logo {
  margin-top: 15px;
}
header  .span_phone {
  margin-left: 10px;
  color: #4a8cbf;
}
.bg_head {
  font-size: 13px;
  background: url('../img/bg_head.png') no-repeat center/100%;
  width: 224px;
  height: 25px;
  margin-top: 7px;
  margin-bottom: 8px;
  font-family: 'Trebuchet';
  color: #3a617f;
  font-weight: 400;
  border-radius: 40%;
}
.bg_head:hover {
  border: solid 1px #4a8cbf;
}
.bg_head p {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.for_p1 p {
  margin-top: 3px;
  margin-left: 13px;
}
.for_p2 {
  position: relative;
}
.for_p2 p {
  margin: 3px 18px 0px 32px;
}
.for_p1 i {
  margin-left: 5px;
}
.for_p2 i {
  font-size: 25px;
  transform: rotate(20deg);
  position: absolute;
  /* border: solid 1px; */
}
.for_p2 a {
  color: #3a617f;

}
.for_p2 a:hover {
  color: #305069;
}



ul {
  padding-left: 10px;
  text-align: left;
  list-style: none outside;
}
a {
  text-decoration: none;
  display: inline-block;
  color: black;
}
a:hover {
  color: black;
}

.Name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.Name img {
  min-width: 60px
}
.Name > a {
  /* display: inline; */
}
.Name h4 {
	margin-left: 10px;
	color: #2d5d7e;
	font-family: RotondaBold;
}
.object_li p {
  padding: 0 10px;
	margin-top: 3;
	font-family: RotondaBold;
}
.object_li {
  padding-bottom: 20px;
}

.advertising {
  /* padding: 0; */
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  text-align: -webkit-center;
}
.cloud {
  padding: 15% 23%;
  margin: 0px;
  background: url('../img/cloud.png')  no-repeat center/100%;
  width: 100%;
	background-size: contain;
  -webkit-background-size: contain;
}
.cloud p {
  font-size: 14px;
  font-family: RotondaC;
  margin: 0px;
  /* width: 100%; */
}
.cloud button {
  background: #3da0d1;
  line-height: 10%;
  height: 35px;
  margin-top: 10px;
  margin-left: 8px;
  font-family: RotondaC;
  font-weight: bold;
  border: 2px solid #c5e5f9;
  border-radius: 40px;
}
.cloud button:hover,
.cloud button:active {
	color: #278dc0;
	border: 2px solid #3da0d1;
  background-color: #fff;
}
.cloud button:target {
	color: #fff;
	border: 2px solid #fff;
  background-color: #fff;
}



.background_blank {
  padding-top: 30px;
  padding-left: 20px;
	margin-top: 20px;
	margin-left: 15px;
	height: auto;
	background: url('../img/background_blank.png') no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	padding-bottom:20%;
}
.Delivery_Advertising {
  margin-top: 25px;
	margin-left: 15px;
  text-align: -webkit-center;
}
.Delivery_Advertising img {
  min-width: 100%;
  height: 130px;
}

.brand, .news {
  display: flex;
  flex-direction: column;
}
.news h4, .brand h4 {
  align-self: center;
}
.date {
	background: url('../img/date.png') no-repeat;
	background-size: 100% 100%;
	width: 50%;
	height: 2rem;
	line-height: 200%;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding:
}
.news h6 {
	margin: 0;
	padding: .5rem 0;
	font-weight: normal;
	text-decoration: underline;
	color: #2d5d7e;
}
.news a {
	text-decoration: underline;
}
.news>a {
	color: #2d5d7e;
}

.for_flex_1 {
  display: flex;
  flex-direction: column;
}
.for_flex_2{
  flex: 1 1 auto;
  margin-bottom: 0;
}

footer {
  background: url("../img/background-footer.png") 0 30px repeat-x;
  height: 211px;
  margin-top: 50px;
  /* border: solid 1px; */
}
footer  i {
  font-size: 24px;
  margin-right: 10px;
}
footer .span_phone {
    color: #06465f;
}
.foot  {
  margin-top: 90px;
  /* min-height: 180px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot:last-child {
  margin: 0;
}

.bg_for_i {
  background-color: #fff;
  padding: 0;
  border-radius: 100px;
  margin: 3px;
}
.bg_for_i i {
  font-size: 16px;
  color: #afcede;
  padding: 8px;
  margin: 0;
}
.foot a:hover {
  font-size: 18px;
  border: 2px solid #4a91b5;
}
.logo_footer {
  /* border: solid 1px; */
}
.logo_footer img {
  width: 100%;
}



/* img-responsive, img-fluid в отпуске */
@media screen and (max-width: 1024px){
  .Delivery_Advertising img {
    height: 115px;
  }
}
@media screen and (max-width: 1100px){
  .Delivery_Advertising img {
    height: 105px;
  }
}
@media screen and (max-width: 991px){
  .Delivery_Advertising img {
    height: 170px;
  }
}
@media screen and (max-width: 830px){
  .Delivery_Advertising img {
    height: 150px;
  }
}
@media screen and (max-width: 768px){
  .Delivery_Advertising img {
    height: 140px;
  }
}
@media screen and (max-width: 663px){
  .Delivery_Advertising img {
    height: 110px;
  }
}
@media screen and (max-width: 575px){
  .Delivery_Advertising img {
    height: 190px;
  }
}
@media screen and (max-width: 452px){
  .Delivery_Advertising img {
    height: 170px;
  }
}
@media screen and (max-width: 415px){
  .Delivery_Advertising img {
    height: 150px;
  }
}
@media screen and (max-width: 370px){
  .Delivery_Advertising img {
    height: 130px;
  }
}
@media screen and (max-width: 330px){
  .Delivery_Advertising img {
    height: 115px;
  }
}

/*=============================== /index.html=================================================*/

.main h1 {
  color: #2d5d7e;
  font-family: "RotondaBold";
  font-size: 33px;
  font-weight: 700;
  /* line-height: 33.33px; */
}
.main p {
  color: #2d5d7e;
  font-family: "Trebuchet";
  font-size: 14px;
  font-weight: 400;
}
.start a {
  display: inline-block;
  text-decoration: none;
  color: #2d5d7e;
}
.start a:hover {
  text-decoration: underline;
}

.sort_by {
  background: url('../img/bg_for_start.png') no-repeat center/100%;
  padding: 10px;
  width: 95%;
  height: 61px;
}
.sort_by input {
  font-size: 15px;
  border: 0;
  padding: 19px 7px 14px;
  background-color: #ffffff
}
.sort_by input:first-child {
  margin-right: 50px;
}
.sort_by input:hover {
  padding-right: 15px;
  padding-left: 15px;
  border: solid 1px #def0f6;
  background-color: #d6edf4;
}

.object {
  margin-top: 30px;
}
.object:last-child {
  margin-bottom: 30px;
}
.object p {
  margin-top: 30px;
  color: #090000;
  font-family: "Trebuchet";
  font-size: 17px;
  font-weight: 700;
}

.info_tovar {
  display: flex;
  background: url('../img/bg_for_tovar.png') no-repeat center/100%;
  width: 681px;
  min-height: 262px;
}
.info_tovar_img img {
  width: 205px;
  height: 206px;
  margin: 25px 15px 30px;
}
.info_tovar_price {

}

.lines {
  margin-top: 31px;
}
.line {
  display: flex;
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  color: #1a1a18;
  font-family: "Trebuchet";
}
.line {
  border-bottom: 1px dashed grey;
}
.line1 {
  width: 175px;
}
.line2 {
  padding-left: 10px;
}
.lines_v_korziny {
  background: url('../img/bg_price_yellow.png') -1px 0 no-repeat;
  width: 134px;
  height: 35px;
  margin: 15px 0px 34px;
  border:  dashed 1px yellow;
  border-radius: 17px 0 17px 0;
}
.lines_v_korziny_a:hover {
  text-decoration: none;
}
.lines_btn_v_korziny {
  margin: 5px 10px 9px 19px;
  color: #3b3a39;
  font-family: "RotondaBold";
  font-size: 15px;
  font-weight: 700;
}
.lines_btn_v_korziny i {
  margin-right: 5px;
}

.info_tovar_price {
  margin: 33px 0px 30px 25px;
}
.info_tovar_price_status {
  color: #aec905;
  font-family: "Trebuchet";
  font-size: 14px;
  font-weight: 700;
}
.info_tovar_price_status i {
  margin-right: 7px;
  font-size: 16px;
}

.info_tovar_price_procherk {
  text-decoration: line-through;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-left: 20px;
}
.info_tovar_price_price {
  background: url('../img/bg_price_blue.png') -1px 0 no-repeat;
  width: 108px;
  height: 35px;
  border:  dashed 1px #8ecef0;
  border-radius: 17px 0 17px 0;
}
.info_tovar_price_price_p {
  color: #ffffff;
  font-family: "RotondaBold";
  font-size: 18px;
  font-weight: 700;
  margin: 3px 0px 0px 20px;
}
.info_tovar_price_price a:hover {
  text-decoration: none;
}


.end {
  background: url('../img/bg_for_start.png') 0 0 no-repeat ;
  width: 681px;
  height: 64px;

}
.end input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #cae5ee;
  border: none;
  color: #1a1a18;
  font-family: "Trebuchet";
  font-size: 15px;
  font-weight: 400;
}
.end input:hover {
  font-size: 16px;
}
.s {
  border-radius: 100%;
}
.b {
  border-radius: 40%;
}
.b10 {
  margin-left: 28px;
}



.main .cloud p {
  font-size: 14px;
  margin: 0px;
  color: #090000;
  font-family: "RotondaC";
}
.blank {
  background: url('../img/bg_blank_main.png') no-repeat;
  background-size: 100% 100%;
  /* border: solid 1px; */
}
.filter {
  /* border: solid 1px; */
  width: 231px;
  height: 263px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}
.kind_of {
  /* border: solid 1px; */
  width: 231px;
  height: 345px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}
.main .brand {
  /* border: solid 1px; */
  width: 231px;
  height: 382px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}
.characteristic {
  /* border: solid 1px; */
  width: 231px;
  height: 352px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}
.main .catalog {
  /* border: solid 1px; */
  width: 231px;
  height: 418px;
  /* margin-top: 15px; */
  /* margin-bottom: 85px; */
}
.blank_title {
  text-align: center;
  padding-right: 20px;
}
.blank_title p {
  display: inline-block;
  margin-top: 20px;
  color: #2d5d7e;
  font-family: "RotondaBold";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}


















/* end */
